In [19]:
from selenium import webdriver
from bs4 import BeautifulSoup
import scrapy
import lxml
import urllib3
import pandas as pd
import numpy as np
import requests
import re 
from matplotlib import pyplot as plt
import time
import seaborn as sns
import itertools
urllib3.disable_warnings()
print("Setup Complete")

Setup Complete

In [13]:
%%time

links_personal_auto=[]
for x in range(1,417):
    time.sleep(3)
    url=f'https://turbo.az/autos?page={x}'
    request=requests.get(url).content
    soup=BeautifulSoup(request,'html.parser')
    cars=soup.find_all('div',class_='products-i')
    for i in cars:
        links_personal_auto.append('https://turbo.az'+i.a['href'])  
len(links_personal_auto)

CPU times: total: 40 s
Wall time: 27min 22s

14976

In [15]:
link_19_11_2022=pd.DataFrame(links_personal_auto)
link_19_11_2022

                                                       0
0      https://turbo.az/autos/6741356-land-rover-rang...
1        https://turbo.az/autos/6474352-opel-crossland-x
2        https://turbo.az/autos/6673637-hyundai-veracruz
3        https://turbo.az/autos/6806177-porsche-panamera
4      https://turbo.az/autos/6627992-mitsubishi-outl...
...                                                  ...
14971             https://turbo.az/autos/6825182-kia-rio
14972        https://turbo.az/autos/6825179-mercedes-190
14973       https://turbo.az/autos/6825173-lada-vaz-niva
14974       https://turbo.az/autos/6825178-lexus-es-300h
14975      https://turbo.az/autos/6777087-toyota-corolla

[14976 rows x 1 columns]

In [9]:
links_personal_auto=pd.read_excel('link_19_11_2022.xlsx')
links_personal_auto

       Unnamed: 0                                                  0
0               0  https://turbo.az/autos/6741356-land-rover-rang...
1               1    https://turbo.az/autos/6474352-opel-crossland-x
2               2    https://turbo.az/autos/6673637-hyundai-veracruz
3               3    https://turbo.az/autos/6806177-porsche-panamera
4               4  https://turbo.az/autos/6627992-mitsubishi-outl...
...           ...                                                ...
14971       14971             https://turbo.az/autos/6825182-kia-rio
14972       14972        https://turbo.az/autos/6825179-mercedes-190
14973       14973       https://turbo.az/autos/6825173-lada-vaz-niva
14974       14974       https://turbo.az/autos/6825178-lexus-es-300h
14975       14975      https://turbo.az/autos/6777087-toyota-corolla

[14976 rows x 2 columns]

In [12]:
lisa=links_personal_auto[0].values.tolist()
len(lisa)

14976

In [18]:
lisa[:9]

['https://turbo.az/autos/6741356-land-rover-range-rover',
 'https://turbo.az/autos/6474352-opel-crossland-x',
 'https://turbo.az/autos/6673637-hyundai-veracruz',
 'https://turbo.az/autos/6806177-porsche-panamera',
 'https://turbo.az/autos/6627992-mitsubishi-outlander',
 'https://turbo.az/autos/6834216-mercedes-c-180',
 'https://turbo.az/autos/6791785-toyota-rush',
 'https://turbo.az/autos/6814581-opel-astra',
 'https://turbo.az/autos/6509248-ford-edge']

In [16]:
# link_19_11_2022.to_excel('link_19_11_2022.xlsx', engine='xlsxwriter')

In [30]:
%%time

num=[]
df=pd.DataFrame()
numbers=[]
numbers_2=[]
for i in range (len(lisa)):
    time.sleep(1)
    http = urllib3.PoolManager()
    content = http.request('GET',lisa[i])
    soup=BeautifulSoup(content.data, 'html.parser')
    try:
        numbers=soup.find_all('a',class_='shop-contact--phones-number',attrs={'href'})
        number=re.sub('<[^>]+>' , ' ', str(numbers)).strip().replace('(','').replace('[','').replace(']','').replace(')','').replace(' ', '').replace('-','').split(',')
    except:
        number=0
    try:
        numbers_2=soup.find_all('a',class_='phone',attrs={'href'})
        number_2=re.sub('<[^>]+>' , ' ', str(numbers_2)).strip().replace('(','').replace('[','').replace(']','').replace(')','').replace(' ', '').replace('-','').split(',')
    except:
        number=0
    num.append({'url':lisa[i],'salon':number,'person':number_2})
df=pd.DataFrame(num)        
df

CPU times: total: 12min 46s
Wall time: 6h 47min 33s

,url,salon,person
0,https://turbo.az/autos/6741356-land-rover-rang...,"[0553080007, 0552455545, 0552110067, 0558851111]",[]
1,https://turbo.az/autos/6474352-opel-crossland-x,[0552685545],[]
2,https://turbo.az/autos/6673637-hyundai-veracruz,"[0125625115, 0504068008, 0506272376]",[]
3,https://turbo.az/autos/6806177-porsche-panamera,"[0559119030, 0503104206, 0703104206, 0502402830]",[]
4,https://turbo.az/autos/6627992-mitsubishi-outl...,[],[0554152339]
...,...,...,...
14971,https://turbo.az/autos/6825182-kia-rio,[],[0506070141]
14972,https://turbo.az/autos/6825179-mercedes-190,[],[0554450605]
14973,https://turbo.az/autos/6825173-lada-vaz-niva,[],[0507365151]
14974,https://turbo.az/autos/6825178-lexus-es-300h,[0552228844],[]
14975,https://turbo.az/autos/6777087-toyota-corolla,[],[0557967070]

In [34]:
df.to_excel('numbers_19_11_2022.xlsx', engine='xlsxwriter')

In [37]:
person=pd.DataFrame({'number':list(itertools.chain.from_iterable(df['person']))})

In [39]:
person.to_excel('person.xlsx', engine='xlsxwriter')

In [38]:
salon=pd.DataFrame({'number':list(itertools.chain.from_iterable(df['salon']))})

In [40]:
salon.to_excel('salon.xlsx', engine='xlsxwriter')